/lms-server/target/
/lms-server/.idea/
!/lms-server/.mvn/wrapper/maven-wrapper.jar

/lms-gateway/target
/lms-gateway/.idea/
!/lms-gateway/wrapper/maven-wrapper.jar

/lms-admin/target
/lms-admin/.idea/
!/lms-admin/wrapper/maven-wrapper.jar

/lms-auth/target
/lms-auth/.idea/
!/lms-auth/wrapper/maven-wrapper.jar

/lms-book/target
/lms-book/.idea
!/lms-book/wrapper/maven-wrapper.jar

/lms-student/target
/lms-student/.idea
!/lms-student/wrapper/maven-wrapper.jar

/lms-config/target
/lms-config/.idea/
!/lms-config/wrapper/maven-wrapper.jar


